%h1 Listing articles
 
%table
  %tr
    %th Author
    %th Title
    %th Text
 
    - @articles.each_with_index do |article, index| 
      %tr
        %td= article.author.name
        %td= article.title
        %td= article.body
